<!-- Modèle block HTML plugin "headsection" -->
<div class="headsection card border-0">
  <div class="row mx-0">
    <div class=" col-lg-4 p-0 pe-lg-4"><img class="img-fluid"
        role="presentation" src="http://localhost/draftfile.php/5/user/draft/286565585/00090-484376655%20%281%29.png"
        alt="" width="768" height="512"></div>
    <div class="col-lg-8 p-0 pe-lg-3 mt-3 mt-lg-0">
      <div class="card-body " style="padding:0 !important">
        <div class="features-group">
          <h2 class="h1">Rendez vos formations interactives et engageantes !
          </h2>
          <div class="row gx-5 row-cols-1 row-cols-lg-2 pt-4 mx-0">
            <div class="col mb-5 ps-0 h-100">
              <h2 class="h5">Architectures pédagogiques</h2>
              <p class="mb-0">Concevez des formations courtes destinées à la
                formation continue ou des parcours longs certifiants composés de
                plusieurs formations. Construisez votre pédagogie en utilisant
                plus de 15 types d'activités d'apprentissage et d'évaluation
                inclus.</p>
            </div>
            <div class="col mb-2 mb-lg-5 ps-0 h-100">
              <h2 class="h5">Référentiels RNCP ou RS</h2>
              <p class="mb-0">Intégrez les référentiels RNCP ou RS de vos
                formations certifiantes au sein de votre LMS. Associez à chaque
                module de formation des compétences issues des référentiels.
                Créez et gérer les plans de formations de vos collaborateurs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>