// Couleur de bordure des boutons
.btn:focus {
    outline: none !important;
}

// Types de boutons
.btn-primary {
    background-color: $secondary-600 !important;
    border-color: $secondary-600 !important;
    &:hover {
        background-color: $secondary-700 !important;
        border-color: transparent !important;
        outline: none !important;
    }
    &:focus {
        background-color: $secondary-700 !important;
        border-color: transparent !important;
        color: $gray-50 !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgb(76 44 105 / .75);
    }
}

.btn-secondary {
    background-color: $secondary-600 !important;
    border-color: $secondary-700 !important;
    color: $gray-50 !important;
    &:focus {
        background-color: $secondary-600 !important;
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgb(76 44 105 / .75);
        color: $gray-50 !important;
    }
    &:hover {
        background-color: $secondary-800 !important;
        border-color: transparent !important;
        outline: none !important;
        color: $gray-50 !important;
    }
}

.btn-outline-primary,
.btn-pink {
    background-color: $pink-600 !important;
    border-color: $pink-600 !important;
    color: $gray-50 !important;
    &:focus {
        background-color: $pink-700 !important;
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgb(76 44 105 / .75);
        color: $gray-50 !important;
    }
    &:hover {
        background-color: $pink-700 !important;
        border-color: transparent !important;
        outline: none !important;
        color: $gray-50 !important;
    }
}

.btn-grey,
.btn-outline-secondary {
    background-color: $gray-200 !important;
    border-color: $gray-200 !important;
    color: black;
    &:focus {
        background-color: $lime-200 !important;
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgb(76 44 105 / .75);
        color: black !important;
    }
    &:hover {
        background-color: $lime-200 !important;
        border-color: transparent !important;
        outline: none !important;
        color: black !important;
    }
}

.btn-success {
    background-color: $green-600 !important;
    border-color: $green-600 !important;
    color: $gray-50 !important;
    &:focus {
        background-color: $lime-950!important;
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(63, 105, 44, 0.75);
        color: $gray-50!important;
    }
    &:hover {
        background-color: $lime-950!important;
        border-color: transparent !important;
        outline: none !important;
        color: $gray-50!important;
    }
}

.btn-blue {
    background-color: $cyan-600 !important;
    border-color: $cyan-600 !important;
    color: $gray-50 !important;
    &:focus {
        background-color: $primary-400!important;
        border-color: transparent !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(44, 65, 105, 0.75);
        color: $gray-50!important;
    }
    &:hover {
        background-color: $primary-400!important;
        border-color: transparent !important;
        outline: none !important;
        color: $gray-50!important;
    }
}

// Bouton des cookies sur page de login
.btn[data-modal-title-str='["cookiesenabled", "core"]'] {
    background-color: transparent !important;
    border-color: $gray-50 !important;
    color: $gray-50 !important;
    &:hover {
        background-color: $primary-950 !important;
    }
    &:focus {
        background-color: $primary-950 !important;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgb(76 44 105 / .75);
    }
}
