// Module d'évaluation de cours 
#page-header {
    .tool_courserating-widget {
        background-color: rgba(1, 65, 138, 0.7);
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 8px;
        width: fit-content;
    }
}