// *********** SECTION HERO *************/
.hero-section {
    background: $linear-front !important;
    background-attachment: fixed; /* Si vous voulez un effet fixe pendant le défilement */
    min-height:100vh;
    &-content {
        min-height:84vh;
    }
}

.hero-container {
    &-gradient {
        background: $linear-background;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    &-slogan {
        line-height: 1.5; 
    }
}

.hero-subtitle {
    line-height:1.4;
    font-weight:600;
    max-width:740px;
}

.hero-title-content {
    padding-top:2px;
}

// Taille de l'image du hero frontpage
.frontimage {
    width: 80%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}

.frontcard {
    background: $linear-title;
}

// On fait varier la taille du h2 (qu'on a fixée sur display-3) en fonction du responsive 
.hero-container-title.display-3 {
    font-size: 3rem;
}

@media (max-width: 991px) {
    #page-site-index {
        #page {
            .hero {
                margin-top: 30px;
            }
            // Taille de l'image du hero frontpage
            .frontimage {
                max-width: 300px !important;
                height: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .hero-container-title.display-3 {
        font-size: 1.8rem;
    }
}