// Module Mail
/*
.local-mail {
    // La liste des tous les items dans le dropdown
    .local-mail-menu-navbar,
    .local-mail-view-side-column {
        // La boite de recherche des cours
        .local-mail-combo-box {
            // On passe l'icone en blanc
            i {
                color:  white;
            }
            &-left-icon i {
                color: black !important;
            }
            &-right-icon i {
                color: black !important;
            }
            .form-control:focus {
                box-shadow: none !important;
            }
            &-button {
                color-background: $primary !important;
                &:hover {
                    color-background: #cee3f0 !important;
                }
            }
        }
        // Les items de la liste
        .local-mail-menu-item {
            &:hover {
                // On passe les icones en blanc
                i {
                    color: $primary-600 !important;
                }
            }
        }
        .dropdown-item:not(:focus):hover {
            background-color: #cee3f0 !important;
        }
        
    }
}
*/    

.local-mail-combo-box-button {
    background-color: #f8f9fa !important;
    color: black !important;
    &:hover {
        background-color: #f8f9fa !important;
        color: black !important;
    }
}

// la couleur des dropdowns entiers
.local-mail .dropdown-menu {
    top: 100%;
    margin-top: 0.125rem;
    background-color: var(--light, var(--bs-gray-100));
}

.local-mail-menu-item:hover {
    background-color: $primary !important;
    color: white !important;
}
.local-mail-menu-item:active {
    background-color: $primary !important;
    color: white !important;
    box-shadow: none !important;
}
.local-mail-menu-item:focus {
    background-color: $primary !important;
    color: white !important;
    box-shadow: none !important;
}

.dropdown-item:hover {
    background-color: $primary !important;
    color: white !important;
}
.dropdown--item:active {
    background-color: $primary !important;
    color: white !important;
    box-shadow: none !important;
}
.dropdown--item:focus {
    background-color: $primary !important;
    color: white !important;
    box-shadow: none !important;
}



