
.path-mod-quiz {
    .description, 
    .informationitem {
        .formulation {
            background-color: transparent;
            border: none;
        }
        p {
            font-size : 1.2rem;
            font-weight: 600;
        }
    }
}
