
#page-mod-quiz-attempt,
#page-mod-quiz-review 
 {
    // Les questions "informations"
    .informationitem {
        .info {
            display: none;
        }
    }
    //Toutes les questions sauf les informations
    .que:not(.informationitem) {
        border-radius: 8px;
        border: 1px solid $primary-700;
        align-items: normal !important;
        max-width: 1200px;
        .info {
            border-radius: 8px 0 0 8px !important;
            border: none !important;
            border-right: 1px solid $primary-700 !important;
        }
        .qtext p {
            font-size: 1.1rem;
            color: $primary;
            margin-bottom: 20px;
        }
        .ablock {
            tr, td, tbody {
                border: none !important;
            }
            td {
                padding-bottom: 8px !important;
            }
        }
    }
    // Les cases à remplir du texte à trous
    .que.ddwtos {
            span.drop {
                border-radius: 8px;
                margin-bottom: 10px;
            }
            .draghome {
                border-radius: 8px;
            }
        }
    // Le contenu des questions
    .content .formulation {
        background-color: transparent;
        border-color: transparent;
    }
    // Les réponses correctes, partiellment correctes, fausses sur la page de revue du quiz 
    .correct {
        .outcome {
            color: $green-700;
            border-color: $sky-300;
            background-color: $sky-50;
            margin-right: 30px;
            margin-left: 15px;
        }
    }
    .incorrect {
        .outcome {
            color: $red-700;
            border-color: $red-300;
            background-color: $sky-50;
            margin-right: 30px;
            margin-left: 15px;
        }
    }
    .partiallycorrect {
        .outcome {
            color: $amber-700;
            border-color: $amber-300;
            background-color: $sky-50;
            margin-right: 30px;
            margin-left: 15px;
        }
    } 
    .rightanswer {
        color: $gray-950;
        font-size: 1rem !important;
    }
}

/************************************************* MEDIAS ***********************************************************************/

@media (max-width: 767px) {
    #page-mod-quiz-review {
        // Les réponses correctes, partiellment correctes, fausses sur la page de revue du quiz 
        .correct {
            .outcome {
                margin-right: 15px;
            }
        }
        .incorrect {
            .outcome {
                margin-right: 15px;
            }
        }
        .partiallycorrect {
            .outcome {
                margin-right: 15px;
            }
        } 
    }
}